@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --primary-cyan: hsl(179, 62%, 43%);
  --primary-bright-yellow: hsl(71, 73%, 54%);
  --natural-light-gray: hsl(204, 43%, 93%);
  --natural-grayish-blue: hsl(218, 22%, 67%);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-size: 16px;
  font-family: Karla;
  color: var(--natural-grayish-blue);
  background-color: var(--natural-light-gray);
}

.element {
  margin: 14vh 25vw;
  box-shadow: 5px 5px 15px;
  border-radius: 20px;
}

.top {
  background-color: white;
  padding: 2rem 7rem 2rem 3rem;
  border-radius: 20px 20px 0 0;
}

h1 {
  color: var(--primary-cyan);
  font-weight: 700;
  font-size: 25px;
}

.top h3 {
  color: var(--primary-bright-yellow);
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.left {
  background-color: var(--primary-cyan);
  padding: 1rem 2rem 2rem 3rem;
  border-bottom-left-radius: 20px;
  color: var(--natural-light-gray);
}

.left p.price {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.3rem;
}

.left p.price span {
  font-size: 16px;
  font-weight: 400;
  color: var(--natural-grayish-blue);
}

.left a {
  display: block;
  text-align: center;
  line-height: 2.5rem;
  background-color: var(--primary-bright-yellow);
  height: 2.5rem;
  width: 15rem;
  color: var(--natural-light-gray);
  border-radius: 5px;
  margin-top: 2.5rem;
  box-shadow: 3px 3px 10px rgb(141, 141, 141);
}

.right {
  padding: 1rem 3rem 2rem 2rem;
  background-color: rgb(74, 190, 189);
  color: var(--natural-light-gray);
  height: 100%;
  border-bottom-right-radius: 20px;
}

@media (max-width: 376px) {
  .element {
    margin: 10vh 3vw;
    width: 90vw;
  }

  body {
    font-size: 14px;
  }

  .top {
    padding: 1rem 1rem;
  }

  .bottom {
    display: block;
  }

  .left {
    border-bottom-left-radius: 0;
  }

  .right {
    border-radius: 0 0 20px 20px;
  }
}
